#header-items {
    text-align: center;
}

#main-title {
    font-family: Parisienne;
}

#main-separator {
    width: 60rem;
    margin-top: 4px;
    margin-bottom: 4px;
}

#inline {
    font-size: 1.5rem;
    font-family: "Archivo Narrow";
    color: #5c616b;
}

#under-development {
    padding-top: 100px;
}

#under-development h2 {
    font-size: 8rem;
}


