#header-items {
    text-align: center;
}

#main-title {
    font-family: Parisienne;
}

#main-separator {
    width: 60rem;
    margin-top: 4px;
    margin-bottom: 4px;
}

#inline {
    font-size: 1.5rem;
    font-family: "Archivo Narrow";
    color: rgba(58,65,69,1);
}

#under-development {
    padding-top: 100px;
}

#under-development h2 {
    font-size: 8rem;
}

#navbar {
    font-family: 'Archivo Narrow';
	font-size: 1.2rem;
}

#navbar div {
    display: inline;
}

.navbar-nav.nav.navbar-right li a{
	color: black;
}

.navbar-nav {
    justify-content: flex-end;
}

.navbar-brand img {
    transform: translateY(-6px);
}

nav {
    border-color: black !important;
    background-color: white;
}

#top {
    padding-top: 60px;
}

.navbar-toggle, .icon-bar {
    border:1px solid black;
}


